extends layout
block content
  h1 Smart Token Service Demo
  h1 It works!
  p Demo Server is already running.
  p The server is running, but you don't need to access this server directly.
  p Version: #{version}
